.Spinner {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .radar-spinner, .radar-spinner * {
    box-sizing: border-box;
  }
  .radar-spinner {
    height: 60px;
    width: 60px;
    position: relative;
    .circle {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      animation: radar_spinner_animation 2s infinite;
      &:nth-child(1) {
        padding: calc(60px * 5 * 2 * 0 / 110);
        animation-delay: 300ms;
      }
      &:nth-child(2) {
        padding: calc(60px * 5 * 2 * 1 / 110);
        animation-delay: 300ms;
      }
      &:nth-child(3) {
        padding: calc(60px * 5 * 2 * 2 / 110);
        animation-delay: 300ms;
      }
      &:nth-child(4) {
        padding: calc(60px * 5 * 2 * 3 / 110);
        animation-delay: 0ms;
      }
    }
    .circle-inner-container{
      .circle-inner {
        border-left-color: #fff;
        border-right-color: #fff;
      }
    }
  }
}

.radar-spinner .circle-inner, .radar-spinner .circle-inner-container {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: calc(60px * 5 / 110) solid transparent;
}

@keyframes radar_spinner_animation {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}